[Unit]
Description=DAP GW to Email Service
After=syslog.target network.target dapgateway.service

[Service]
Type=simple
EnvironmentFile=/etc/default/dapgw2email
ExecStart=/usr/local/bin/dapgw2email.py $RIC $SMTP $SENDER $RECIPIENT

[Install]
WantedBy=multi-user.target
