[Unit]
Description=DAP GW to Email Service
After=syslog.target network.target dapnetgateway.service

[Service]
Type=simple
ExecStart=/usr/local/bin/dapgw2email.py

[Install]
WantedBy=multi-user.target
